html{scroll-behavior:smooth}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif
}

body{
background:linear-gradient(180deg,#020617,#0f172a);
color:#e5e7eb;
line-height:1.6
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
position:fixed;
width:100%;
background:rgba(2,6,23,.95);
backdrop-filter:blur(5px);
z-index:100
}

.navbar a{
color:#fff;
margin-left:20px;
text-decoration:none
}

/* HERO */

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center
}
.hero p {
    margin-top: 12px;
}

.hero h2{font-size:2.8rem;margin-bottom:15px}

/* SECTIONS */

.section{padding:120px 70px}

h2{font-size:2.2rem;margin-bottom:40px}

/* PROJECTS */

.case-study{
display:flex;
gap:50px;
margin-bottom:120px;
flex-wrap:wrap
}

.case-study.reverse{flex-direction:row-reverse}

.project-img{
width:420px;
border-radius:18px;
box-shadow:0 15px 30px rgba(0,0,0,.5);
transition:.4s
}

.project-img:hover{transform:scale(1.03)}

.project-info{max-width:500px}

.project-info ul{margin:10px 0 15px 20px}

/* SKILLS */

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px
}

.skill-card{
background:rgba(30,41,59,.9);
padding:28px;
border-radius:18px;
transition:.3s
}

.skill-card:hover{
transform:translateY(-8px);
box-shadow:0 12px 25px rgba(0,0,0,.4)
}

.skill-card ul{list-style:none}

/* BUTTON */

.resume-btn{
margin-top:25px;
padding:12px 28px;
background:#38bdf8;
color:#020617;
border-radius:30px;
text-decoration:none;
font-weight:bold;
transition:.3s
}

.resume-btn:hover{transform:scale(1.05)}
/* Mobile Responsive */

@media (max-width: 900px) {

.navbar {
    padding: 15px 30px;
}

.section {
    padding: 90px 30px;
}

.case-study {
    flex-direction: column;
}

.project-img {
    width: 100%;
}

.hero h2 {
    font-size: 2.1rem;
}

.skills-grid {
    grid-template-columns: 1fr;
}
}
.toggle-btn{
background:none;
border:none;
color:white;
font-size:1.2rem;
cursor:pointer;
margin-left:20px
}

/* Light Mode */

body.light{
background:#f8fafc;
color:#020617
}

body.light .navbar{
background:#ffffff;
}

body.light .skill-card,
body.light .project-info{
background:#e5e7eb;
color:#020617
}
